@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;700&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  text-decoration: none; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 1.5rem;
  background-color: #011414;
  color: #fff; }

.heading__primary {
  font-family: 'poppins', sans-serif;
  font-size: 3.8rem;
  font-weight: 600;
  line-height: 1.1; }

.hidden {
  display: none; }

.section-wrapper {
  display: flex;
  flex-direction: column; }

.section-top {
  flex-basis: 40rem;
  background: #000;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url("../../img/carousel2.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .section-top__text {
    text-align: center;
    margin-bottom: 2rem; }

.section-bottom {
  margin-top: 2rem; }

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -1rem; }
  .cta__primary {
    background-color: rgba(255, 255, 255, 0.4);
    display: block;
    text-align: center;
    color: #ffa137;
    text-transform: capitalize;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    border: 2px solid transparent;
    transition: all 0.5s ease; }
    .cta__primary:not(:last-of-type) {
      margin-top: 3rem; }
    .cta__primary:hover {
      border: 2px solid #fff;
      background-color: transparent; }

.navigation {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  height: 8rem; }

.nav-logo {
  margin-top: 1rem;
  margin-left: 2rem; }
  .nav-logo__logo {
    width: 100%;
    height: 80%; }

.nav-menu {
  margin-top: 2rem;
  margin-right: 4rem;
  height: 5rem;
  flex: 0 0 2.5rem; }
  .nav-menu__ham {
    width: 100%;
    height: 100%; }
    .nav-menu__ham:hover {
      cursor: pointer; }
  .nav-menu__cancel {
    margin-top: -0.2rem; }

.sidebar {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #fff; }

.nav-links {
  position: relative; }
  .nav-links__link {
    padding: 2rem;
    display: block;
    transition: background-color 0.5s ease;
    color: #0b0b29; }
    .nav-links__link:not(:last-of-type) {
      padding-bottom: 2rem 0;
      border-bottom: 1px solid rgba(219, 214, 214, 0.214); }
    .nav-links__link:hover {
      background-color: rgba(219, 214, 214, 0.214);
      color: #ffa137; }

.header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #003b36;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("../../img/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.header-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0 2rem; }

.header-text {
  margin-top: 6rem; }
  .header-text__heading {
    margin-bottom: 2rem; }
  .header-text__paragraph {
    line-height: 1.6;
    margin: 0 auto;
    margin-bottom: 5rem;
    width: 80%; }

.header-video {
  border: 0.5rem solid #fff;
  width: 100%;
  height: 23rem;
  margin-bottom: 2rem;
  background-image: url("https://ire.ng/wp-content/uploads/2022/06/irethumbnail.jpeg");
  background-size: cover;
  background-position: center; }
  .header-video__video {
    display: block;
    width: 100%; }
  .header-video__caption {
    font-weight: 600;
    margin-bottom: 1rem; }
  .header-video__location {
    font-size: 1.8rem; }
    .header-video__location img {
      width: 1rem;
      display: inline-block;
      margin-right: 1rem; }

.section-carousel {
  min-height: 30rem;
  padding: 2rem; }

.ctrl {
  background: none;
  border: none;
  font-size: 3rem;
  color: lightgray;
  outline: 0; }

.carousel {
  background: slateblue;
  position: relative;
  width: 100%;
  height: 30rem;
  margin: auto;
  overflow: hidden; }

.slide {
  background: slateblue;
  font-size: 4rem;
  color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 500ms ease-in-out;
  will-change: transform; }

.slide-next-enter,
.slide-prev-exit {
  transform: translateX(100%); }

.slide-prev-enter,
.slide-next-exit {
  transform: translateX(-100%); }
