// Background colors
$bg-color-black: rgb(1, 20, 20);
// Color scheme
$bg-color-grey: rgba(219, 214, 214, 0.214);
$bg-color-header: rgb(0, 59, 54);
$color-white: #fff;
$color-black: #000;
$color-orange: #ffa137;
$color-blue: rgb(11, 11, 41);
