.media {
  background-color: #1a1818;
  padding: 8rem 6rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    &--header {
      .media-header {
        font-size: 4rem;
        text-align: center;
      }
    }

    &--photo img {
      margin: 1rem 0;
      width: 100%;
      height: 80px;
    }
  }
}

// Media Queries

@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
  .media__container {
    flex-direction: row;
    &--photo img {
      width: auto;
    }
  }
}
@media screen and (min-width: 968px) {
}
@media screen and (min-width: 1200px) {
}
