// .navigation {
//   // position: relative;
//   display: flex;
//   justify-content: space-between;
//   background-color: $color-white;
//   height: 8rem;
// }

// .nav-logo {
//   margin-top: 1rem;
//   margin-left: 2rem;

//   &__logo {
//     width: 100%;
//     height: 80%;
//   }
// }

// .nav-menu {
//   margin-top: 2rem;
//   margin-right: 4rem;
//   height: 5rem;
//   flex: 0 0 2.5rem;

//   &__ham {
//     width: 100%;
//     height: 100%;

//     &:hover {
//       cursor: pointer;
//     }
//   }

//   &__cancel {
//     margin-top: -0.2rem;
//   }
// }
